.content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin: auto;
  min-width: 450px;
  z-index: 997;
}

.content .before-after{
  margin-top: 15px;
  display: inline-block;
  width: 100%;
}

.before-after .before{
  float: left;
}

.before-after .after{
  float: right;
}

.before-after button{
  cursor: pointer;
  border: 2px solid #E0E0E0;
  padding: 5px 30px;
  border-radius: 0 20px;
  font-weight: 600;
  color: #ef5350;
  font-size: 22px;
  background: #E0E0E0;
}

.pokemon-content{
  width: 55%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  min-width: 450px;
}

.img-stats{
  height: auto;
  width: 200px;
  min-width: 200px;
  border: 4px solid #ef5350;
  border-radius: 30px;
  overflow: hidden;
  z-index: 997;
  background-color: white;
}

.img-stats img{
  display: block;
  height: auto;
  width: 191px;
  padding-top: 30px;
  margin: 0 auto;
  z-index: 997;
}

.weight-height{
  display: flex;
  flex-direction: column;
  height: 20%;
  margin-top: 15px;
  background-color: #ef5350;
  justify-content: center;
  align-items: center;
}

.weight-height > h2{
  color:white;
  padding-bottom: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  z-index: 996;
  transition: 1.5 step-start;
}

.weight-height h2:last-child{
  padding-top: 0px;
}

.base-stats{
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 250px;
  margin-top: 12px;
}

.base-stats > h1{
  line-height: 1.2;
  margin-left: -15px;
  background-color: #ef5350;
  border: 2px solid #ef5350;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  text-transform: capitalize;
  padding: 8px 8px 8px 16px;
}

.pokemon-types{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
}

.pokemon-types .pokemon-type{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pokemon-type img{
  margin-right: 10px;
}

.types{
  padding: 5px 25px;
  border-radius: 8px;
  margin-right: 10px;
}

.stats{
  width: 100%;
  height: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.stats label{
  margin-left: 40px;
}

.progress-bar {
  position: relative;
}

.progress-bar span{
  border-radius: 15px;
  position: absolute;
  top: 0;
  height: 15px;
  width: 100%;
}

.progress-bar .fullbar{
  background: #E5E5E5;
}

.progress-bar .filledbar{
  background: #ef5350;
  animation: progressAnimation .8s;
}

@keyframes progressAnimation {
  0%   { width: 0%; background-color: #ef5350; }
  100% { width: 20%; background-color: #ef5350; }
}

.progress-bar .stat-value{
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
}

.content-moves{
  width: 55%;
  margin: 0 auto;
  min-width: 450px;
}

.content-moves > h1{
  margin-top: 35px;
  border-bottom: 1px solid #E0E0E0;
  padding-left: 25px;
  padding-bottom: 6px;
  margin-bottom: 25px;
  max-width: 770px;
}

.moves{
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 15px 15px;
  width: 100%;
  padding-bottom: 40px;
}

.move{
  width: 95%;
  border: 1px solid #E0E0E0;
  background-color: #E0E0E0;
  border-radius: 25px;
}

.move h1{
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  text-transform: capitalize;
  color: #464646;
  font-style: italic;
}


@media(min-width: 300px){
  .pokemon-content{
    width: 50%;
    min-width: 420px;
  }
  .base-stats > h1{
    font-size: 22px;
  }
  .before-after{
    margin-bottom: 30px;
  }
  .moves { 
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center;
    grid-gap: 15px 0px;
  }
  .stats label{
    margin-left: 20px;
  }
  .img-stats{
    min-width: 170px;
  }
  .img-stats img{
    width: 165px;
  }
  .weight-height{
    margin-top: 42px;
  }
  .types{
    padding: 5px 15px;
  }
} 

@media(min-width: 1350px){
  .moves { 
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 15px 40px;
  }
  .stats label{
    margin-left: 40px;
  }
}
