@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button{
    font: 400 18px Roboto, sans-serif;
}

button{
    cursor: pointer;
}

.background-grass{
    background-color: #b5f9a4 !important;
  }
  
  .background-fire{
    background-color: #ffc59e !important;
  }
  
  .background-water{
    background-color: #7aa4ff !important;
  }
  
  .background-normal{
    background-color: #cfcfcf !important;
  }
  
  .background-fighting{
    background-color: #dc8989 !important;
  }
  
  .background-flying{
    background-color: #9ee8ff !important;
  }
  
  .background-poison{
    background-color: #c0a3e6 !important;
  }
  
  .background-ground{
    background-color: #e0be8f !important;
  }
  
  .background-rock{
    background-color: #dacb77 !important;
  }
  
  .background-bug{
    background-color: #cad65c !important;
  }
  
  .background-ghost{
    background-color: #ae94f0 !important;
  }
  
  .background-steel{
    background-color: #809dc9 !important;
  }
  
  .background-electric{
    background-color: #ecd16f !important;
  }
  
  .background-psychic{
    background-color: #ff84bd !important;
  }
  
  .background-ice{
    background-color: #bdf9fe !important;
  }
  
  .background-dragon{
    background-color: #6d68fd !important;
  }
  
  .background-dark{
    background-color: #aeaeb7 !important;
  }
  
  .background-fairy{
    background-color: #fd97e5 !important;
  }
  
  .background-unknown{
    background-color: moccasin !important;
  }